/* Color Template*/

.color-primary {
    color: $color-primary;
}

.color-primary-bg {
    background: $color-primary;
}

.color-second {
    color: $color-second;
}

.color-second-bg {
    background: $color-second;
}

.color-cream {
    color: $color-cream;
}

.color-cream-bg {
    background: $color-cream;
}

.color-gold {
    color: $color-gold;
}

.color-gold-bg {
    background: $color-gold;
}