$font-rubik: "rubik",
cursive;
$font-merriweather: "merriweather sans",
cursive;
$font-ubuntu: "ubuntu",
cursive;
$font-sans: "sans serif",
cursive;
$font-baloo: "baloo 2",
cursive;
$color-primary: #003859;
$color-second: #3bcef3;
$color-cream: #FFD289;
$color-gold: #E7B10A;